<div class="trip">
<!-- SECRET <%= ENV['FACEBOOK_SECRET'] %> -->
<h1>reviews -  <%= link_to "new", new_user_review_path(current_user) if current_user  %></h1> <br>
<h2></h2> <br>
<h3><%= "Sign In to Leave A Review" if !current_user %></h3>

<br>
  <% if @reviews %>
<% @reviews.each do |review|%>

  <h4 ><%= link_to review.title, user_review_path(review.user, review) %>  <%= link_to "| Edit Review", edit_user_review_path(review.user, review) if logged_in? %>  <%=  link_to " | Delete", review, method: :delete if logged_in? %> </h4>
  <p><%= review.comment %></p>
  <p>Date: <%= (review.date_posted).strftime("%b %d, %Y") %></p>
  <p>by: <%= link_to review.user.named, user_reviews_path(review.user) %></p> <br><br>
<% end %>

<% end %>
</div>
